body {
  color: #eee;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

a {
  color: white;
  margin-right: 0.2rem;
  text-decoration: none;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: rainbow 5s linear infinite alternate both;
          animation: rainbow 5s linear infinite alternate both;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 55vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header > h1 {
  font-size: 3rem;
  line-height: 1rem;
  text-transform: uppercase;
}

header > h3 {
  font-size: 1.5rem;
}

@media (min-width: 35rem) {
  header {
    height: 80vh;
  }

  header > h1 {
    font-size: 5rem;
  }

  header > h3 {
    font-size: 2rem;
  }
}

.about-me {
  color: #24292e;
  margin: 0.5rem auto;
  width: 85vw;
}

.about-me > h1 {
  border-bottom: 5px solid lightgray;
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.about-me > p {
  line-height: 2rem;
  margin-bottom: 0.8rem;
  margin-top: 0.5rem;
}

@-webkit-keyframes rainbow {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

@keyframes rainbow {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
